<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.menupage2">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".Cu6Activity"
            android:exported="false" />
        <activity
            android:name=".Cu5Activity"
            android:exported="false" />
        <activity
            android:name=".Cu4Activity"
            android:exported="false" />
        <activity
            android:name=".Cu3Activity"
            android:exported="false" />
        <activity
            android:name=".Cu2Activity"
            android:exported="false" />
        <activity
            android:name=".Cu1Activity"
            android:exported="false" />
        <activity
            android:name=".InfoC2Activity"
            android:exported="false" />
        <activity
            android:name=".InfoC1Activity"
            android:exported="false" />
        <activity
            android:name=".InfoC3Activity"
            android:exported="false" />
        <activity
            android:name=".C3Activity"
            android:exported="false" />
        <activity
            android:name=".C2Activity"
            android:exported="false" />
        <activity
            android:name=".C1Activity"
            android:exported="false" />
        <activity
            android:name=".InfoL5Activity"
            android:exported="false" />
        <activity
            android:name=".InfoL4Activity"
            android:exported="false" />
        <activity
            android:name=".InfoL3Activity"
            android:exported="false" />
        <activity
            android:name=".InfoL2Activity"
            android:exported="false" />
        <activity
            android:name=".InfoL1Activity"
            android:exported="false" />
        <activity
            android:name=".L5Activity"
            android:exported="false" />
        <activity
            android:name=".L4Activity"
            android:exported="false" />
        <activity
            android:name=".L3Activity"
            android:exported="false" />
        <activity
            android:name=".L2Activity"
            android:exported="false" />
        <activity
            android:name=".L1Activity"
            android:exported="false" />
        <activity
            android:name=".WeatherActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".CuisineActivity"
            android:exported="false" />
        <activity
            android:name=".CollegeActivity"
            android:exported="false" />
        <activity
            android:name=".LandmarksActivity"
            android:exported="false" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>